# Dependencias
node_modules
.pnp
.pnp.js

# Build
dist
dist-ssr

# Variables de entorno (NO subir las claves reales)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / SO
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db

# Misc
*.local
